@charset 'utf-8';
/*----------------------------------
	base
----------------------------------*/
body{
	font-family: 'Josefin Slab','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	font-size: 10px;
	font-weight: 600;
	line-height: 1.5;
	width: 100%;
	height: 100%;
	min-height: 100%!important;
	text-align: center;
	color: #fff;
	background: #333;
}

a{
	text-decoration: underline;
	color: #00f;
	&:hover{
		color: #f00;
	}
}

h1,
h2,
h3,
h4{
	font-weight: 600;
}

h1 a{
	font-size: 24px;
	text-decoration: none;
	color: #fff;
}
