#loading{
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(#000, .8);
	#floatingCirclesG{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -64px;
		margin-left: -64px;
	}
}

#floatingCirclesG{
	position: relative;
	width: 128px;
	height: 128px;
	-webkit-transform: scale(.6);
}

.f_circleG{
	position: absolute;
	width: 23px;
	height: 23px;
	-webkit-animation-name: f_fadeG;
	-webkit-animation-duration: 1.04s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: linear;
	-webkit-border-radius: 12px;
	background-color: #fff;
}

#frotateG_01{
	top: 52px;
	left: 0;
	-webkit-animation-delay: .39s;
}

#frotateG_02{
	top: 15px;
	left: 15px;
	-webkit-animation-delay: .52s;
}

#frotateG_03{
	top: 0;
	left: 52px;
	-webkit-animation-delay: .65s;
}

#frotateG_04{
	top: 15px;
	right: 15px;
	-webkit-animation-delay: .78s;
}

#frotateG_05{
	top: 52px;
	right: 0;
	-webkit-animation-delay: .91s;
}

#frotateG_06{
	right: 15px;
	bottom: 15px;
	-webkit-animation-delay: 1.04s;
}

#frotateG_07{
	bottom: 0;
	left: 52px;
	-webkit-animation-delay: 1.17s;
}

#frotateG_08{
	bottom: 15px;
	left: 15px;
	-webkit-animation-delay: 1.3s;
}

@-webkit-keyframes f_fadeG{
0%{
background-color: #fff;}

100%{
background-color: transparent;}

}
