@charset 'utf-8';
/*----------------------------------
	sp
----------------------------------*/
@media screen and (max-width: 640px) {
	.search_box{
		label{
			font-size: 10px;
			&:before{
				top: 16px;
				right: 16px;
			}
			&:after{
				top: 16px;
				right: 12px;
			}
		}
		select{
			font-size: 12px;
			margin-right: 5px;
			padding: 6px 24px 6px 6px;
			vertical-align: middle;
		}
	}

	#gallery{
		.box{
			margin: 10px;
			img{
				width: 80px;
				height: auto;
			}
		}
	}
}
